deb http://mirror.yandex.ru/debian {{ debian_release_name }} main
deb-src http://mirror.yandex.ru/debian {{ debian_release_name }} main

deb http://mirror.yandex.ru/debian {{ debian_release_name }}-updates main
deb-src http://mirror.yandex.ru/debian {{ debian_release_name }}-updates main

deb http://security.debian.org/ {{ debian_release_name }}-security main
deb-src http://security.debian.org/ {{ debian_release_name }}-security main
